*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Courier, monospace;
    background: burlywood;
    animation: opacidade 2s;
}

@keyframes opacidade{
   /* 0%{
        filter: opacity(10%);
    }

    100%{
        filter: opacity(100%);
    }*/
}

header{
    min-height: 20vh;
    background: cadetblue;
    color: aliceblue;
}

footer{
    min-height: 20vh;
    background: dimgrey;
    color: aliceblue;
}

#table-responsive{
    overflow: auto;
    max-height: 50vh;
}

