*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Courier, monospace;
    background: burlywood;
}

input[type='submit']{
    padding: 10px;
    background: cadetblue;
    color: aliceblue;
    border-radius: 10px;
}

input[type='submit']:hover{
    background: rgb(44, 73, 74);
}

input[type='text']{
    padding: 5px;
    border: 2px solid cadetblue;
    background: khaki;
}

input[type='text']:hover{
    background: khaki;
}

header{
    min-height: 20vh;
    background: cadetblue;
    color: aliceblue;
}

footer{
    min-height: 20vh;
    background: dimgrey;
    color: aliceblue;
}